!--------------------xdefauls
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.iso14755 : false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.font: xft:firacode:pixelsize=14
uRxvt*termName: rxvt
URxvt*scrollBar: false
URxvt*scrollBar_floating: false
urxvt*matcher.button: 1
urxvt*depth: 32
urxvt*background: [75]#161b21
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline: true
Xft*rgba: rgb
URxvt*geometry: 85x20
*internalBorder: 2
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False
! special
*.foreground:   #aaaaaa
*.background:   #161b21
*.cursorColor:  #aaaaaa

! black
*.color0:       #161b21
*.color8:       #161b21

! red
*.color1:       #8b6066
*.color9:       #8b6066

! green
*.color2:       #9a7e62
*.color10:      #9a7e62

! yellow
*.color3:       #e7d869
*.color11:      #e7d869

! blue
*.color4:       #354f73
*.color12:      #354f73

! magenta
*.color5:       #55465b
*.color13:      #55465b

! cyan
*.color6:       #716467
*.color14:      #716467

! white
*.color7:       #aaaaaa
*.color15:      #a7a9a8
