#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    backend: XLib,
    log_level: "debug",
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [
    ],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    layouts: [
        "Dwindle",
        "Fibonacci",
        "Grid",
        "CenterMain",
        "Monocle",
        "MainAndDeck",
        "EvenHorizontal",
        "EvenVertical",
        "MainAndVertStack",
        "MainAndHorizontalStack",
        "RightMainAndVertStack",
        "CenterMainBalanced",
        "CenterMainFluid",
    ],
    layout_definitions: [
        (name: "EvenHorizontal", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Vertical), second_stack: None)),
        (name: "EvenVertical", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
        (name: "Monocle", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: None), second_stack: None)),
        (name: "Grid", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: None, stack: (flip: None, rotate: North, split: Grid), second_stack: None)),
        (name: "MainAndVertStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
        (name: "MainAndHorizontalStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Vertical), second_stack: None)),
        (name: "RightMainAndVertStack", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: South, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Horizontal), second_stack: None)),
        (name: "Fibonacci", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Fibonacci), second_stack: None)),
        (name: "Dwindle", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Dwindle), second_stack: None)),
        (name: "MainAndDeck", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: None), stack: (flip: None, rotate: North, split: None), second_stack: None)),
        (name: "CenterMain", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: None), second_stack: (flip: None, rotate: North, split: Horizontal))),
        (name: "CenterMainBalanced", flip: None, rotate: North, reserve: None, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: Dwindle), second_stack: (flip: None, rotate: North, split: Dwindle))),
        (name: "CenterMainFluid", flip: None, rotate: North, reserve: Reserve, columns: (flip: None, rotate: North, main: (count: 1, size: 0.5, flip: None, rotate: North, split: Vertical), stack: (flip: None, rotate: North, split: None), second_stack: (flip: None, rotate: North, split: Horizontal))),
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", args: None, value: "alacritty", x: 860, y: 390, height: 300, width: 200),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    create_follows_cursor: Some(true),
    auto_derive_workspaces: true,
    disable_cursor_reposition_on_resize: false,
    focus_on_activation: MarkUrgent,
    window_hiding_strategy: MoveOnly,
    keybind: [
        (command: Execute, value: "rofi -show drun -theme .config/rofi/theme -show run", modifier: ["modkey"], key: "d"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "f"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: FocusWindowAt, value: "North", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowAt, value: "South", modifier: ["modkey"], key: "Down"),
        (command: FocusWindowAt, value: "West", modifier: ["modkey"], key: "Left"),
        (command: FocusWindowAt, value: "East", modifier: ["modkey"], key: "Right"),
        (command: MoveWindowAt, value: "North", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowAt, value: "South", modifier: ["modkey", "Shift"], key: "Down"),
        (command: MoveWindowAt, value: "West", modifier: ["modkey", "Shift"], key: "Left"),
        (command: MoveWindowAt, value: "East", modifier: ["modkey", "Shift"], key: "Right"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "ampersand"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "eacute"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "quotedbl"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "apostrophe"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "parenleft"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "minus"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "egrave"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "underscore"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "ccedilla"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "ampersand"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "eacute"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "quotedbl"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "apostrophe"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "parenleft"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "minus"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "egrave"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "underscore"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "ccedilla"),
    ],
    state_path: None,
)
